p{
    text-transform: capitalize;
    letter-spacing: 2px;
}
.baseline{
    vertical-align: baseline;
    text-decoration: overline;
    text-shadow: 5px 2px 4px gray;
    letter-spacing: 0px;
}
.subline{
    vertical-align: sub;
    text-decoration: underline;
    letter-spacing: 4px;
}
.super{
    vertical-align: super;
    text-decoration: line-through;
    letter-spacing: 0px;
}
.pixel{
    vertical-align: -10px;
    text-decoration: inherit;
    letter-spacing: 8px;
}
.wordSpace{
    font-variant: small-caps;
    font-size: large;
    text-decoration: underline;
}