*{
    margin: 0;
    padding: 0;
}
header{
    height : 34px;
    /* border: 2px solid rgb(242, 130, 130); */
    background-color: red;
}
.content{
    height : max-content;
    border: 2px solid burlywood;
    background-color: wheat;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    margin-left: 10px;
    color: aliceblue;
}
.copy{
    text-align: center;
}
.box{
    margin: 10px;
    padding-left: 10px;
    background-color: beige;
    border: 2px solid brown;
    border-radius: 10px;
}